@font-face {
  font-family: "BoldFont";
  src: url('../resources/fonts/the_bold_font/THEBOLDFONT.ttf') format('truetype');
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

header {
  font-family: "BoldFont", sans-serif;
  background-color: #ffc9c9;
  color: #000000;
  text-align: center;
  padding: 100px 0;

  .title {
    font-size: 6em;
    padding-bottom: 10px;
    margin-block-end: 10px;
  }

  .sub-header-text {
    font-size: 2em;
    margin: 10px;
  }
}

main {
  display: grid;

  .display-section {
    padding: 0;
    margin: 0;
    border: none;

    .display-images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      max-width: 100%;
      max-height: 600px;
      padding: 0;
      
      .image {
        width: 100%;
        height: 100%;
      }
    }
  }

  .sub-header {
    padding: 1px 0;
    margin: 0;
  }

  .flavour-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    justify-items: center;
    align-items: center;
    overflow-x: hidden;

    .flavour-image {
      justify-self: center;
      padding: 0 50px;
      width: 20vw;
    }

    .sub-text {
      font-size: 0.8em;
      margin: 5px;
    }
  }

  .order-section {
    display: grid;
    justify-self: center;
    align-self: center;

    .button {
      scale: 2;
      width: 100px;
      background-color: #ffc9c9;
      border-width: 2px;
      margin: 30px;
      padding: 3px;
    }
  }
}

.sub-text {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1em;
  margin: 5px;
}

section {
  padding: 20px;
}

section h2 {
  margin-bottom: 10px;
}

figure {
  display: grid;
  margin: 0;
}

figcaption {
  display: grid;
  justify-content: center;
  text-align: center;
}

footer {
  position: relative;
  background-color: #ffc9c9;
  color: #000000;
  text-align: center;
  padding: 5px 0;
  bottom: 0;
  width: 100%;
}
