@font-face {
  font-family: "BoldFont";
  src: url('../resources/fonts/the_bold_font/THEBOLDFONT.ttf') format('truetype');
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

header {
  font-family: "BoldFont", sans-serif;
  font-weight: bold;
  background-color: #ffc9c9;
  color: #000000;
  text-align: center;
  padding: 100px 0;

  .title {
    font-size: 2.8em;
    padding-bottom: 10px;
    margin-block-end: 10px;
  }

  .sub-text {
    font-family: sans-serif;
    font-weight: normal;
    margin: 5px;
  }

  .sub-header-text {
    margin: 10px;
  }
}

main {
  display: grid;

  .display-section {
    padding: 0;
    margin: 0;
    border: none;

    .display-images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      max-width: 100%;
      max-height: 600px;
      padding: 0;
      
      .image {
        width: 100%;
        height: 100%;
      }
    }
  }

  .sub-header {
    padding: 1px 0;
    margin: 0;
  }

  .flavour-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    .image-container {
      display: flex;

      .slideshow {
        width: 80vw;
        max-width: 80vw;
        overflow: hidden;
        position: relative;
      }

      .slideshow:hover {
        cursor: pointer;
      }
    }

    .flavour-image {
      width: 200px;
      transition: transform 0.3s ease;
    }
  }

  .order-section {
    display: grid;
    justify-self: center;
    align-self: center;

    .button {
      width: 100px;
      background-color: #ffc9c9;
      border-width: 1px;
    }
  }
}

section {
  padding: 20px;
}

section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

figure {
  display: grid;
  margin: 0;
}

figcaption {
  display: grid;
  justify-content: center;
  text-align: center;
}

footer {
  background-color: #ffc9c9;
  color: #000000;
  text-align: center;
  padding: 5px 0;
  bottom: 0;
  width: 100%;
}
