@font-face {
    font-family: "BoldFont";
    src: url('../resources/fonts/the_bold_font/THEBOLDFONT.ttf') format('truetype');
}

main {
    .order-section {
        display: grid;
        grid-template-columns: 1fr, 3fr;
        justify-self: left;
        width: 100%;
        margin: 20px 0;

        .flavour-image {
            padding: 0 30px;
            width: 20vw;
        }
    }
}

section {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer {
    position: relative;
    background-color: #ffc9c9;
    color: #000000;
    text-align: center;
    padding: 5px 0;
    bottom: 0;
    width: 100%;
}
